 <div class="row" style="margin-left: 1px; margin-right: 1px;">
   
  <!--LEFT-->
    <div class="col-4 mat-elevation-z1" style="height: calc(100vh - 90px); padding-top: 10px;">

      <!--APPLICATION-->
      <div class="row">        
        <div class="col">
            <h3>SSO</h3>           
        </div>  
      </div>

      <form [formGroup]="ssoForm" style="width: 100%;">  
        <div class="row align-items-center">  
          
          <div class="col-10">            
              
                <mat-form-field style="width: 100%;">
                  <input matInput placeholder="Nome" [matAutocomplete]="ssoUserAutoComplete" formControlName="user">
                  <mat-autocomplete #ssoUserAutoComplete="matAutocomplete" [displayWith]="displayFnSSO" (optionSelected)="onSelectedUserSSO($event)">
                    
                    <mat-option *ngIf="isLoadingSSO" class="is-loading">
                      <mat-spinner diameter="50"></mat-spinner>
                    </mat-option>

                    <ng-container *ngIf="!isLoadingSSO">
                      <mat-option *ngFor="let ssoUser of filteredUserSSO" [value]="ssoUser">
                        <span>{{ssoUser.name}}</span>
                      </mat-option>
                    </ng-container>

                  </mat-autocomplete>
                </mat-form-field>    

            </div>  

            <div class="col-2">
                <button
                  mat-raised-button
                  color="primary"
                  matTooltip="Edit User"
                  class="mat-button-icon"
                  [disabled]="!isUserSelectedSSO()"
                  (click)="onEdit()"            
                >
                <i class="material-icons">edit</i>
              </button>
            </div>        

        </div>    
    </form> 

    </div>


    <!--FORM-->
    <div class="col mat-elevation-z1" style="margin-left: 10px; padding-top: 10px;" *ngIf="isEditing">
      <div class="row justify-content-end">
        <div class="col">
          <h3>{{selectedUser.name}}</h3>
        </div>
    
          <div class="col-3">
          <button type="button" mat-raised-button style="margin-right: 15px;" (click)="onCancel()">Cancel</button>
          <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid" (click)="onSave()">Save</button>
        </div>
      </div>
      
     <form [formGroup]="form">
      <mat-tab-group selectedIndex="0" style="height: calc(100vh - 135px);">
        <mat-tab label="Detail">
          <div class="row" style="margin-right: 0; margin-left: 0;">
            
            <!--DETAIL-->
            <div class="col form-container">
            
              <mat-form-field>
                <input matInput placeholder="ID" readonly formControlName="id">
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Nome" required formControlName="name" [readonly]="!authenticatedUser.admin">
                <mat-error *ngIf="form.get('name').touched && form.get('name').hasError('required')">Enter Name</mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="e-mail" formControlName="email" [readonly]="!authenticatedUser.admin">
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>  
              
              <mat-form-field>
                <input matInput placeholder="Login" required formControlName="login" [readonly]="!authenticatedUser.admin">
                <mat-error *ngIf="form.get('login').touched && form.get('login').hasError('required')">Enter e-mail</mat-error>
                <mat-icon matSuffix>person</mat-icon>
              </mat-form-field>

              <mat-form-field *ngIf="authenticatedUser.admin">
                  <input matInput placeholder="Password" [type]="hidePassword ? 'password' : 'text'" formControlName="password">
                  <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>            
              
            </div>

            <div class="col form-container">
                <div style="margin-top: 13px;" *ngIf="authenticatedUser.admin">Status</div>
                <mat-checkbox formControlName="active" *ngIf="authenticatedUser.admin">Active</mat-checkbox>
                <mat-checkbox style="margin-left: 10px;" formControlName="locked" *ngIf="authenticatedUser.admin">Locked</mat-checkbox>
      
                <mat-form-field hintLabel="Max 100 characters" style="margin-top: 2px; margin-bottom: 20px;" *ngIf="authenticatedUser.admin">
                  <textarea matInput #lockingReason maxlength="100" placeholder="Locking Reason" formControlName="lockingReason"></textarea>
                  <mat-hint align="end">{{lockingReason.value?.length || 0}}/100</mat-hint>
                </mat-form-field>

                <mat-checkbox formControlName="admin" *ngIf="authenticatedUser.admin">Admin</mat-checkbox>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Access" *ngIf="hasUserId">          
          <ul formArrayName="accesses">
            <ng-template #recursiveList let-list>
              <li *ngFor="let item of list" [formGroupName]="getResourceIndex(item.path)">
                <mat-checkbox formControlName="checked" (change)="onCheckboxStatusChange(item, $event)">{{item.name}}</mat-checkbox>
                <mat-form-field style="margin-left: 15px;">
                  <mat-select placeholder="Role" formControlName="role" required>
                    <mat-option value="USER">User</mat-option>                    
                    <mat-option value="OWNER" *ngIf="authenticatedUser?.admin">Owner</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-checkbox style="margin-left: 15px;" formControlName="canWrite">Can Write?</mat-checkbox>
                <br>                
                {{item.path}}       
                <div formGroupName="resource">
                <input type="hidden" formControlName="id">
                <input type="hidden" formControlName="path">
                </div>   
                <mat-divider></mat-divider>

                <ul *ngIf="hasChildren(item)">
                    <ng-container *ngTemplateOutlet="recursiveList; context: {$implicit: item.resources}"></ng-container>
                </ul>
              </li>
            </ng-template>

            <ng-container *ngTemplateOutlet="recursiveList; context: {$implicit: dataSource}"></ng-container>
          </ul>          
            
        </mat-tab>
      </mat-tab-group>     
    </form>
  </div>
</div>
