<div class="row">

    <div class="example-loading-shade"*ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>    
    </div>
  
    <div class="col">
        <button mat-fab color="primary" (click)="onAdd()" style="float: right; margin-bottom: 15px;">Novo</button>
    
        <table mat-table [dataSource]="data" class="example-table">
      
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button color="primary" matTooltip="Editar" (click)="onEdit(row)">
                    <mat-icon aria-label="Editar">edit</mat-icon>
                </button>
              {{row.id}}
            </td>
          </ng-container>

          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let row">{{row.nome}}</td>
          </ng-container>     

          <ng-container matColumnDef="idade">
            <th mat-header-cell *matHeaderCellDef>Idade</th>
            <td mat-cell *matCellDef="let row">{{row.idade}}</td>
          </ng-container>

          <ng-container matColumnDef="genero">
            <th mat-header-cell *matHeaderCellDef>Gênero</th>
            <td mat-cell *matCellDef="let row">{{row.genero}}</td>
          </ng-container>

          <ng-container matColumnDef="cpf">
            <th mat-header-cell *matHeaderCellDef>CPF</th>
            <td mat-cell *matCellDef="let row">{{row.cpf}}</td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>e-mail</th>
            <td mat-cell *matCellDef="let row">{{row.email}}</td>
          </ng-container>
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [length]="resultsLength" [pageSize]="20"></mat-paginator>
</div>

<div class="col-2" *ngIf="isEditing">
    <form [formGroup]="form">
      <mat-form-field>        
        <input matInput placeholder="ID" readonly formControlName="id">
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Nome" required formControlName="nome">
        <mat-error *ngIf="form.get('nome').touched && form.get('nome').hasError('required')">Mandatório</mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Idade" required formControlName="idade">
        <mat-error *ngIf="form.get('idade').touched && form.get('idade').hasError('required')">Mandatório</mat-error>
      </mat-form-field>  
      
      <mat-form-field>
          <mat-label>Gênero</mat-label>
          <mat-select formControlName="genero">
            <mat-option value="F"> Feminino </mat-option>
            <mat-option value="M"> Masculino </mat-option>            
          </mat-select>          
          <mat-error *ngIf="form.get('genero').touched && form.get('genero').hasError('required')">Mandatório</mat-error>      
        </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="CPF" required formControlName="cpf">
        <mat-error *ngIf="form.get('cpf').touched && form.get('cpf').hasError('required')">Mandatório</mat-error>      
      </mat-form-field>

      <mat-form-field>
          <input matInput type="email" placeholder="e-mail" required formControlName="email">
          <mat-error *ngIf="form.get('email').touched && form.get('email').hasError('required')">Mandatório</mat-error>      
        </mat-form-field>
  
      <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid" (click)="onSave()" style="margin-right: 10px;">Salvar</button>
      <button mat-raised-button color="seconday"  (click)="onCancel()">Cancelar</button>
    </form>
  </div>
</div>